body {
  padding: 0;
  margin: 0;
}

body * {
  box-sizing: border-box;
  font-weight: bold !important;
  font-family: monospace !important;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@keyframes wave {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}